:root {
    --primary-color: #0b0a0a;
    --secondary-color: #6d8a96;
    --bg-color: #ffffff;
    --line-color: #4f5d2f;
}

body {
    font-family:'Roboto Slab', serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

h1, p {
    margin: 0;
    padding: 0;
}

header {
    margin: 30px 30px 3rem 0;
    text-align: right;
}

.btn {
    background-color: var(--bg-color);
    padding: 10px;
    border: 1px solid var(--line-color);
    box-shadow: 5px 5px var(--line-color);
    cursor: pointer;
    color: var(--line-color);
}

.main-content {
    width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 40px;
}

.main-content > img {
    width: 200px;
    outline: 2px solid var(--line-color);
    outline-offset: -0.5rem;
}

.solid-line {
    width: 50%;
    margin: 30px auto;
    border: 2px solid var(--line-color);
}

.nav-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-list > li {
    display: inline;
    list-style-type: none;
    padding: 0 1rem;    
}

.nav-list >li>a {
    color: var(--secondary-color);
    text-decoration: underline #4f5d2f;
    text-underline-offset: 0.3rem;
}

@media screen and (max-width:925px) {
    .main-content{
        flex-direction: column;
        width: 75%;
        align-items: center;
        text-align: center;
    }

    .solid-line {
        width: 80%;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        line-height: 1.7rem;
    }

    .nav-list > li {
        padding: 0 0.5rem;
    }
}